<!-- <div class="card">
    <div class="card-header">
      Contact List
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div> -->
<div class="container">
  <!-- -xs-12 col-sm-offset-3 col-sm-6 mx-auto  -->
     <div class="row">
        <div class="col-8 mx-auto ">
          <!--  <div class="panel panel-default">
                <div class="panel-heading c-list card-header mt-5"> -->
                    <router-outlet></router-outlet>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
